* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color:#fff;
  background-color: crimson;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}
h1{
  color: #000;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
  filter: drop-shadow( 1px 1px 2px #000);
} 
.aplicacion-tareas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow( 2px 2px 2px #fff);
}
.academlo-logo-contenedor {
  width: 500px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.academlo-logo{
  width: 350px;
  height: 125px;
  filter: drop-shadow( 2px 2px 2px #fff);
}

/* Lista de Tareas */

.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #fff;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  filter: drop-shadow( 2px 2px 2px #000);
}
